body{
    color: white;
}

.cityview{
    background: url("Bhagaskara-assets/obrazektoptop.png") no-repeat center fixed;
    background-size: cover;
    -web-kit-background-size: cover;
    width: 100%;
}

.title{
    font-size: 90px;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}


.titleend{
    color: #9f449b;
}

.s1{
    font-size: 48px;
    text-align: center;
}


.s2{
    font-size: 24px;
    text-align: center;
    padding: 60px;
}
.gif{
    width: 165px ;
    height: 181px;
    margin: auto;
    margin-bottom: 20px;
}

.gif:hover, .gif2:hover, .touch img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.services{
    background: url("Bhagaskara-assets/3.png");

}
.serv{
    background: url("Bhagaskara-assets/icondymek.png");

}
.portfolio{
    background: url("Bhagaskara-assets/4.png");
}
.about{
   /* background: url("Bhagaskara-assets/1.png"); */
    background: url("Bhagaskara-assets/1.png");
}
.team{
    background: url("Bhagaskara-assets/2.png");
}
.blog{
    background: url("Bhagaskara-assets/5.png");
}
.contact{
    background: url("Bhagaskara-assets/6.png");
}
.scroll{
    background: url("Bhagaskara-assets/scroller.png");
    width: 86px ;
    height: 93px;
    margin-left: auto;
    margin-right: auto;
}
.scroll:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.paddingrow{
    padding-bottom: 60px;
}


/*-----------------------------------------section2---------------------------------------------------------------------------*/
.section2{
    padding: 60px;
}
.titlemiddle{
    color: #676767;
    font-size: 30px;
}

a{
    color: #676767;
    font-size: 16px;
}
/*-----------------------------------------section3---------------------------------------------------------------------------*/
.section3{
    background-color: #eeeeee;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #676767;
    text-align: center;
}
.gif2{
    width: 172px ;
    height: 186px;
    margin: auto;
}

.heart{
    background: url("Bhagaskara-assets/22.png")
}

.crystal{
    background: url("Bhagaskara-assets/22.png")
}

.cup{
    background: url("Bhagaskara-assets/33.png")
}
.phone{
    background: url("Bhagaskara-assets/44.png")
}

.headerSection3{
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pSection3{
    font-size: 12px;
}


/*----------------------------------------------section4---------------------------------------------*/

.section4{
    color: #676767;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titleabout{
    font-size: 35px;
    text-align: center;
}
.corner{
    background: url("Bhagaskara-assets/rogdown.png");
    width: 29px;
    height: 29px;
    text-align: left;

}
.cornerdown{
    background: url("Bhagaskara-assets/rogd.png");
    width: 29px;
    height: 29px;
    text-align: left;

}
.tv2{
    /*background: url("Bhagaskara-assets/mockup.png");*/
   /* width: 653px;
    height: 415px;*/
    margin-top: 135px;
}
.psection4{
    margin-top: 135px;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 80px;
}
button{
    color: white;
    background-color: #9f449b;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 4%;
    box-shadow: 1px 3px 2px #000000;
}

/*------------------------section5------------------------------------------------*/

.section5{
    background: url("Bhagaskara-assets/tlo2.png") no-repeat center fixed;
    padding: 200px 0;
    text-align: center;
    font-size: 36px;
}

.edu{
    background: url("Bhagaskara-assets/icon.png");
}
.pad{
    padding-top: 10px;
}

/*------------------section 6 -----------------------------*/
.section6{
    background-color: #ffffff;
    padding: 100px 0;

}

.titleOur{
    font-size: 35px;
    text-align: center;
    color: black;
}
.slideButton{
    background: url("Bhagaskara-assets/arrowstrzalki.png");
    width: 135px;
    height: 69px;
    margin: 30px 0;
    margin-right: auto;
    margin-left: auto;
}

.noborder{
    border: 0px solid #ddd;
    margin-right: auto;
    margin-left: auto;
}
.capition2 {
    text-align: center;
}
.icon{
    width: 48px;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.iconbreak{
    width: 28px;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}
.facebook{
    background: url("Bhagaskara-assets/social_icon_fb_small.png");

}
.googleplus{
    background: url("Bhagaskara-assets/social_icon2%20google_small.png") no-repeat;
}

.capition2 p{
    margin-top: 28px;
    margin-bottom: 28px;
}

/*--------------------------SECTION7-------------------------------------*/
.section7 p{
    color: black;
    font-weight: bold;
}
.widthcontainer{
    width: 100%;
    height: auto;
    padding: 0 0px;
}
.progresRow{
    padding-top: 100px;
}
.nopadding{
    padding-top: 10px;
    padding-bottom: 100px;
}

.progress-bar {
    background-color: #9f449b;
}
.progresLeft{
    /*margin-left: 100px;*/
    padding-right: 50px;
}
.progresRight{
    /*margin-left: 100px;*/
    padding-left: 50px;
}
.section7 p span{
    color: #676767;
    font-weight: normal;
    float: right;
}

.section7 p {
    font-size: 18px;

}


/*-----------------------section9-------------------------------------------------*/
.section9{
    color: #676767;
    padding-top: 60px;
    min-height: 400px;
    background-color: #eeeeee;
}

.s9{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;
    font-weight: 500;

}

.s9 p{
    font-size: 10px;
    font-weight: normal;
}

/*testz animacji*/
#topanimation{
    animation-name: pulse;
    animation-duration: 4s;
    animation-delay: 2s;
}
.item{
    height: 550px;
    background-color: #eeeeee;

}
.item h3, .item p{
    color: #676767;
    text-shadow: none;
}
.whitestripe{
    background-color: white;
    height: 30px;
}

/*-------------------------------------------section10-------------------------------------------*/

.section10{
    padding: 100px 0;
}

.tags{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    min-height: 1px;
}
.tags ul{
    padding: 50px 0;
    height: 38px;
}
.tags li{
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
    width: 70px;
    height: 30px;
    padding: 3px 10px;
    font-size: 16px;

}

.tags li:hover{
    background-color: #9f449b;
    border: 1px solid #9f449b;
    color: white;
}


.portfoiloTag{
    color: #676767;
    text-align: center;
}
.portfolio-item h3,.portfolio-item a{
    color: black;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}
/*--------------------------------section11---------------------------------------*/
/*-------------------------------------form-------------------------------------*/

.btn-prim{
    color: white;
    background-color: #9f449b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-group{
    margin-bottom: 30px;
}
#exampleInputName, #exampleInputEmail1{
    height: 50px;
}
.section11{
    color: black;
}
.touch {
    margin: 50px 0;
}
.touch  img{
    margin: 0 10px;
}







/*----------------------------------------------------@media-------------------------------------------------------------*/
@media  (min-width: 1201px){
    .psection4{
        margin-bottom: 130px;
    }
}

@media  (max-width: 1200px){
    /*.tv{
        background: url("Bhagaskara-assets/mockuptablet.png");
        width: 522px;
        height: 332px;
        margin-right: auto;
        margin-left: auto;
    }*/
    .psection4{
        margin-bottom: 15px;

    }
    .progresRow, .nopadding, .progresRight{
        margin-right: auto;
        margin-left: auto;
    }

    .section7{
        padding: 10%;
    }

}



@media  (max-width: 992px){
    .titlemiddle{
        text-align: center;
    }
    .psection3{
        margin-bottom: 20px;

    }
    .headerSection3{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section3{
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .tv{
        background: url("Bhagaskara-assets/mockupmini.png");
        width: 326px;
        height: 207px;
        margin-right: auto;
        margin-left: auto;
    }
    .psection4{
        line-height: 20px;
        margin-bottom: 40px;
        margin-top: 135px;
    }
    button{
        width: 100%;
    }
    .progresLeft, .progresRight {
        /*float: none;*/
        padding-left: 0;
        padding-right: 0;

    }


    .tags div{
        width: 50%;
        margin-bottom: 30px;

    }

    .tags li{
        height: auto;
        padding: 15px 0;
        width: 100%;
    }
    .portfolio-item img{
        margin-right: auto;
        margin-left: auto;
    }
    .touch {
        text-align: center;
    }
    .touch img{
        margin: 0 50px;
    }


}
@media  (max-width: 768px){

    .section2{
        text-align: center;
    }
    .tv, .psection4{
        margin-top: 50px;
    }

}
@media  (max-width: 600px){
    .title{
        font-size: 4em;
    }
    .s1{
        font-size: 2em;
    }
    .s2{
        font-size: 1.5em;
        padding: 10%;
    }
    .section4{
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .tags div,
    .tags li{
        width: 100%;
    }

}
