body{
    color: white;
}

.cityview{
    background: url("Bhagaskara-assets/obrazektoptop.png") no-repeat center fixed;
    background-size: cover;
    -web-kit-background-size: cover;
    width: 100%;
}

.title{
    font-size: 90px;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}


.titleend{
    color: #9f449b;
}

.s1{
    font-size: 48px;
    text-align: center;
}


.s2{
    font-size: 24px;
    text-align: center;
    padding: 60px;
}
.gif{
    width: 165px ;
    height: 181px;
    margin: auto;
    margin-bottom: 20px;
}

.services{
    background: url("Bhagaskara-assets/3.png");

}
.portfolio{
    background: url("Bhagaskara-assets/4.png");
}
.about{
    background: url("Bhagaskara-assets/1.png");
}
.team{
    background: url("Bhagaskara-assets/2.png");
}
.blog{
    background: url("Bhagaskara-assets/5.png");
}
.contact{
    background: url("Bhagaskara-assets/6.png");
}
.scroll{
    background: url("Bhagaskara-assets/scroller.png");
    width: 86px ;
    height: 93px;
    margin-left: auto;
    margin-right: auto;
}
.paddingrow{
    padding-bottom: 60px;
}


/*-----------------------------------------section2---------------------------------------------------------------------------*/
.section2{
    padding: 60px;
}
.titlemiddle{
    color: #676767;
    font-size: 30px;
}

a{
    color: #676767;
    font-size: 16px;
}
/*-----------------------------------------section3---------------------------------------------------------------------------*/
.section3{
    background-color: #eeeeee;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #676767;
    text-align: center;
}
.gif2{
    width: 172px ;
    height: 186px;
    margin: auto;
}

.heart{
    background: url("Bhagaskara-assets/22.png")
}

.crystal{
    background: url("Bhagaskara-assets/22.png")
}

.cup{
    background: url("Bhagaskara-assets/33.png")
}
.phone{
    background: url("Bhagaskara-assets/44.png")
}

.headerSection3{
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pSection3{
    font-size: 12px;
}


/*----------------------------------------------section4---------------------------------------------*/

.section4{
    color: #676767;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titleabout{
    font-size: 35px;
    text-align: center;
}
.corner{
    background: url("Bhagaskara-assets/rogdown.png");
    width: 29px;
    height: 29px;
    text-align: left;

}
.cornerdown{
    background: url("Bhagaskara-assets/rogd.png");
    width: 29px;
    height: 29px;
    text-align: left;

}
.tv{
    background: url("Bhagaskara-assets/mockup.png");
    width: 653px;
    height: 415px;
    margin-top: 135px;
}
.psection4{
    margin-top: 135px;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 80px;
}
button{
    color: white;
    background-color: #9f449b;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 4%;
    box-shadow: 1px 3px 2px #000000;
}

/*------------------------section5------------------------------------------------*/

.section5{
    background: url("Bhagaskara-assets/tlo2.png") no-repeat center fixed;
    padding: 100px 0;
    text-align: center;
    font-size: 36px;
}

.edu{
    background: url("Bhagaskara-assets/icon.png");
}
.pad{
    padding-top: 20px;
}















/*----------------------------------------------------@media-------------------------------------------------------------*/
@media  (min-width: 1201px){
    .psection4{
        margin-bottom: 130px;
    }
}

@media  (max-width: 1200px){
    .tv{
        background: url("Bhagaskara-assets/mockuptablet.png");
        width: 522px;
        height: 332px;
        margin-right: auto;
        margin-left: auto;
    }
    .psection4{
        margin-bottom: 15px;

    }
}



@media  (max-width: 992px){
    .titlemiddle{
        text-align: center;
    }
    .psection3{
        margin-bottom: 20px;

    }
    .headerSection3{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section3{
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .tv{
        background: url("Bhagaskara-assets/mockupmini.png");
        width: 326px;
        height: 207px;
        margin-right: auto;
        margin-left: auto;
    }
    .psection4{
        line-height: 20px;
        margin-bottom: 40px;
        margin-top: 135px;
    }
    button{
        width: 100%;
    }
}
@media  (max-width: 768px){

    .section2{
        text-align: center;
    }
    .tv, .psection4{
        margin-top: 50px;
    }

}
@media  (max-width: 600px){
    .title{
        font-size: 4em;
    }
    .s1{
        font-size: 2em;
    }
    .s2{
        font-size: 1.5em;
        padding: 10%;
    }
    .section4{
        padding-top: 50px;
        padding-bottom: 50px;

    }

}
