body {
    color: white;
}

.cityview {
    background: url("img/top-bg.png") no-repeat center fixed;
    background-size: cover;
    -web-kit-background-size: cover;
    width: 100%;
    text-shadow: 2px 0px 1px rgba(150, 150, 150, 0.5);
    filter: grayscale(50%);

}


.title {
    font-size: 90px;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}

.titleend {
    color: #9f449b;
}
.section-title{
  margin-bottom: 50px;
}
.s1 {
    font-size: 48px;
    text-align: center;
}

.s2 {
    font-size: 24px;
    text-align: center;
    padding: 60px;
    font-weight: 400;
}

.gif {
    width: 165px;
    height: 181px;
    margin: 20px;
    background-size: cover;
}
.gif a{
  display: block;
}

.gif:hover, .gif2:hover, .touch img:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.center{
  float: none;
  margin: auto;
}

.services {
    background: url("img/3.png");filter: saturate(8);
}

.serv {
    background: url("img/icondymek.png");
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.portfolio {
    background: url("img/4.png");
}

.about {
    background: url("img/1.png");
}

.team {
    background: url("img/2.png");
}

.blog {
    background: url("img/5.png");
}

.contact {
    background: url("img/6.png");
    margin: auto;
}

.scroll {
    background: url("img/scroller.png");
    width: 86px;
    height: 93px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.scroll:hover {
    transform: translateY(5px);
    cursor: pointer;
}

.paddingrow {
    padding-bottom: 60px;
}


/*-----------------------------------------navbar---------------------------------------------------------------------------*/

.navbar-bh {
    padding: 60px 0;
    text-align: center;
}

.navbar-toggle span {
    background-color: #676767;
}

.navbar-toggle {
    border: 1px solid #676767;
}

.titlemiddle {
    color: #676767;
    font-size: 30px;
}

a {
    color: #676767;
    font-size: 16px;
}


/*-----------------------------------------section3---------------------------------------------------------------------------*/

#services {
    background-color: #eeeeee;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #676767;
    text-align: center;
}

.gif2 {
    width: 172px;
    height: 186px;
    margin: auto;
}

.heart {
    background: url("img/22.png")
}

.crystal {
    background: url("img/22.png")
}

.cup {
    background: url("img/33.png")
}

.phone {
    background: url("img/44.png")
}

.service_title {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.service_desc {
    font-size: 12px;
}


/*----------------------------------------------section4---------------------------------------------*/

#aboutUs{
    color: #676767;
    padding: 50px 30px;

}

.titleabout {
    font-size: 35px;
    text-align: center;
    color: black;
}

.corner {
    background: url("img/rogdown.png");
    width: 29px;
    height: 29px;
    text-align: left;
}

.cornerdown {
    background: url("img/rogd.png");
    width: 29px;
    height: 29px;
    text-align: left;
    margin-top: 35px;

}


.aboutUs-desc {
    font-size: 15px;
    line-height: 40px;
    color: black;
    height: 100%;
}

.btn-bh {
    color: white;
    background-color: #9f449b;
    font-size: 20px;
    padding: 20px;
    width: 70%;
    border-radius: 4%;
    box-shadow: 1px 3px 2px #000000;
    position: relative;;
    bottom: -10px;
}


/*------------------------info-section------------------------------------------------*/

.info-section {
    background: url("img/tlo2.png") no-repeat center center fixed;
    /*height: 500px;*/
    text-align: center;
    font-size: 36px;

}

.edu {
    background: url(img/icon.png);
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 165px;
    height: 181px;
    margin: 20px;
    background-size: cover;
}
.wrapper-info{
  vertical-align: middle;
    padding: 250px 0;
}


/*------------------section 6 -----------------------------*/
#carousel-team, #carousel-team .item{
  background-color: white;
}
.carousel-control.left,
.carousel-control.right{
  background-image: none;
  top: 48%;
}
.team-section {
    background-color: #ffffff;
    padding: 100px 0;
}


.slideButton {
    background: url("img/arrowstrzalki.png");
    width: 135px;
    height: 69px;
    margin: 30px 0;
    margin-right: auto;
    margin-left: auto;
}

.noborder {
    border: 0px solid #ddd!important;
    box-shadow: none;
    /*margin-right: auto;
    margin-left: auto;*/
}

.capition2 {
    text-align: center;
}

.icon {
    width: 48px;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.iconbreak {
    width: 28px;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.facebook {
    background: url("img/social_icon_fb_small.png");
}

.googleplus {
    background: url("img/social_icon2%20google_small.png") no-repeat;
}

.capition2 p {
    margin-top: 28px;
    margin-bottom: 28px;
}


/*--------------------------SECTION7-------------------------------------*/

.section7 p {
    color: black;
    font-weight: bold;
}

.widthcontainer {
    width: 100%;
    height: auto;
    padding: 0 0px;
}

.progresRow {
    padding-top: 100px;
}

.nopadding {
    padding-top: 10px;
    padding-bottom: 100px;
}

.progress-bar {
    background-color: #9f449b;
}

.progresLeft {
    /*margin-left: 100px;*/
    padding-right: 50px;
}

.progresRight {
    /*margin-left: 100px;*/
    padding-left: 50px;
}

.section7 p span {
    color: #676767;
    font-weight: normal;
    float: right;
}

.section7 p {
    font-size: 18px;
}


/*-----------------------section9-------------------------------------------------*/

.section9 {
    color: #676767;
    padding-top: 60px;
    min-height: 400px;
    background-color: #eeeeee;
}

.s9 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;
    font-weight: 500;
}

.s9 p {
    font-size: 10px;
    font-weight: normal;
}


/*testz animacji*/

#topanimation {
    animation-name: pulse;
    animation-duration: 4s;
    animation-delay: 2s;
}

.item {
    height: 550px;
    background-color: #eeeeee;
}

.item h3, .item p {
    color: #676767;
    text-shadow: none;
}

.whitestripe {
    background-color: white;
    height: 30px;
}


/*-------------------------------------------section10-------------------------------------------*/

.portfolio-list {
    margin: 2rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

.portfolio-img {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.portfolio-img:hover {
    transform: scale(1.02);
    overflow: hidden;
}

.scale-anm {
    transform: scale(1);
}

.category-list {
    padding: 15px 0
}

.portfolio-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.category {
    font-family: Lato;
    font-size: 15px;
    font-weight: 500;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 10px 10px;
    margin: 5px;
    height: auto;
    border: 2px solid;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: white;
}

.category:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 3px 0px #9F449B;
    -webkit-box-shadow: inset 0px 0px 3px 0px #9F449B;
    -moz-box-shadow: inset 0px 0px 3px 0px #9F449B;
    -o-box-shadow: inset 0px 0px 3px 0px #9F449B;
    border: none;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.section10 {
    padding: 100px 0;
}

.tags {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    min-height: 1px;
}

.tags ul {
    padding: 50px 0;
    height: 38px;
}

.tags li {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
    width: 70px;
    height: 30px;
    padding: 3px 10px;
    font-size: 16px;
}

.tags li:hover {
    background-color: #9f449b;
    border: 1px solid #9f449b;
    color: white;
}

.portfolioP {
    color: #676767;
    text-align: center;
}

.portfolio-item h3, .portfolio-item a {
    color: black;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    display: inline-block;
    visibility: visible;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.leftFloat {
    float: left;
}


/*--------------------------------section11---------------------------------------*/


/*-------------------------------------form-------------------------------------*/

.btn-prim {
    color: white;
    background-color: #9f449b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

#exampleInputName, #exampleInputEmail1 {
    height: 50px;
}

.section11 {
    color: black;
}

.touch {
    margin: 50px 0;
}

.touch img {
    margin: 0 10px;
}


/*----------------------------------------------------@media-------------------------------------------------------------*/



@media (max-width: 1200px) {

    .progresRow, .nopadding, .progresRight {
        margin-right: auto;
        margin-left: auto;
    }
    .section7 {
        padding: 10%;
    }
}

@media (max-width: 992px) {
    .titlemiddle {
        text-align: center;
    }
    .service_desc {
        margin-bottom: 20px;
    }
    .service_title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .tv {
        background: url("img/mockupmini.png");
        width: 326px;
        height: 207px;
        margin-right: auto;
        margin-left: auto;
    }

    .btn-bh {
        width: 100%;
    }
    .progresLeft, .progresRight {
        /*float: none;*/
        padding-left: 0;
        padding-right: 0;
    }
    .tags div {
        width: 50%;
        margin-bottom: 30px;
    }
    .tags li {
        height: auto;
        padding: 15px 0;
        width: 100%;
    }
    .portfolio-item img {
        margin-right: auto;
        margin-left: auto;
    }
    .touch {
        text-align: center;
    }
    .touch img {
        margin: 0 50px;
    }
}

@media (max-width: 992px) {
    .tv {
        margin-top: 50px;
    }
    .gif {
        float: none!important;
        background-repeat: no-repeat;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 4em;
    }
    .s1 {
        font-size: 2em;
    }
    .s2 {
        font-size: 1.5em;
        padding: 10%;
    }
    #aboutUs{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .tags div, .tags li {
        width: 100%;
    }
}
